@import 'variables';

body {

    font-family: $open-sans;
    font-size: 16px;
    color: $darkgrey;
    background-color: $white;
}   
    h1,h2,h3,h4,h5,h6 {
        font-family: $mont-bold;
        color: $darkgrey;
        text-transform: uppercase;
    }



    h4 {
        font-size: 24px;
    }

    p,a {
        font-family: $open-sans;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-image: url('/images/loader.svg');
        background-repeat: no-repeat; 
        background-color: #FFF;
        background-position: center;
     }

    header {
        background-image: url('/images/headerbackground.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
        nav {
        
            
            .navbar-brand {
                margin-right: 2rem;
            }

            .navbar-toggler {
                i {
                    color:$red;
                }
            }

     
            
                .nav-item {
                    margin: 0 25px;
                    position: relative;

                    &:last-child {
                        margin-right: 40px;
                    }
                    
                    .nav-link {
                        @extend %link-bold;

                        @media (max-width: $break-medium) {
                            text-align: center;
                        }
                    }
                    
                    .active {
                        &:after {
                            background-color: $darkgrey;
                            height: 4px;
                            width: 100%;
                            content: '';
                            position:absolute;
                            bottom: -18px;
                            left: 0;
                            transform: skew(-34deg);
                            
                            @media (max-width: 1198px) {
                                display: none;
                            }
                        }
                        
                        @media (max-width: 1198px) {
                            color: $red;
                        }
                    }


                    @media (max-width:$break-tablet) {
                        margin: 10px 0;
                    }
                    
                }
           
            
           
        }
        

        .sub-header {
            padding: 80px 0;
            @media (max-width: $break-medium) {
                padding: 25px 0;
            }
            .navigation {
                li {
                    background-color: $darkgrey;
                    margin: 0;
                    a {
                        color: $white;
                        padding: 10px 15px;
                        display: block;
                        font-size: 12px;
                    }
                }

                @media (max-width: $break-medium) {
                    text-align: center;
                }
            }

            nav {
                @media (max-width: $break-medium) {
                    margin-right: auto !important;
                }
                ol {
                    li {
                        a {
                           @extend %link-bold;
                        }

                        &:before {
                            color:$red !important;
                        }
                    }

                    .active {
                        @extend %link-bold;
                        margin-top: 4px;
                        &:before {
                            font-weight: 100 !important;
                        }
                    }
                }
            }
        }

        .divider {
            background-image: url('/images/divider.png');
            width: 100%;
            height: 2px;
            background-repeat: repeat-x;
            
        }
    }

    .product-wrapper {
        padding: 110px 0;

        .product-content {
            padding-left: 20px;
            h2 {
                font-size: 60px;
                color:$red;
                margin: 45px 0;
            }
            h4 {
                margin-bottom: 18px;
            }

            .shares {
                margin-bottom: 15px;

                li {
                    margin:0;
                    iframe {
                        height: 28px;
                    }
                    
                    .fb {
                        width: 98px;
                    }

                    .tw {
                        width: 161px;
                    }

                    .pin {
                        width: 81px;
                    }

                }
                    
             

            }

            .reviews {

                .result {
                    margin-top: 10px;
                    padding-left: 8px;
                    p {
                        font-family: $mont-bold;
                        color:$grey;
                        text-transform: uppercase;
                        font-size: 12px;
                    }
                }
            }

            .favorites {
                margin-top: 15px;
               
            }

            .headline {
                p {
                    font-size: 12px;
                    font-family: $mont-bold;
                    color: $grey;
                    text-transform: uppercase;
                }
            }

            p {
                color: $darkgrey;
            }

            .quantity {
                margin: 40px 0;
                width: 55%;


                @media (max-width: $break-tablet) {
                    width: 100%;
                }

                form {
                    button {
                        margin-right: 5px;
                    }

                    .increase {
                        margin-left: 5px !important;
                    }

                    .quan {
                        text-align: center;
                    }
                }
            }

            .tags {
                margin-bottom: 40px;
                ul {
                    margin:0;
                   
                        a {
                            font-size: 12px;

                            @media (max-width: $break-medium) {
                                margin-bottom: 12px;
                            }
                        }
                    
                }
            }

           
        }

        #slider {
            box-shadow: 0px 0px 16px 4px rgba(156,156,156,0.75);
            -webkit-box-shadow: 0px 0px 16px 4px rgba(156,156,156,0.75);
            -moz-box-shadow: 0px 0px 16px 4px rgba(156,156,156,0.75);
            border: 1px solid $lightgrey;
            margin-bottom: 18px;
        }

        #carousel {
            direction: inherit;
            ul {
              
                li {
                   
                    img {
                       border: 1px solid $lightgrey;
                       opacity: 0.7;
                       transition: 0.3s;
                       &:hover {
                           opacity: 1;
                       }
                    }

                 
                }
            }
        }
        
    }

    %btn {
        padding: 15px 20px;
        font-family: $mont-bold;
        text-transform: uppercase;
        padding: 12px 15px;
        transition: 0.3s;
        border-radius: 0;
        @media(max-width: $break-tablet) {
            display: block;
        }
    }
    
    .main-btn {
        @extend %btn;
        background-color: $red;
        color:$white;
        font-size: 14px;
        border: 0;
        &:hover {
            background-color: $grey;
            color:$white;
        }
    }

    .main-btn-outline {
        @extend %btn;
        color:$grey;
        display: block;
        font-family: $mont-bold;
        border: 1px solid $grey;
        padding: 15px 20px;
        
        &:hover {
            background-color: $grey;
            color: $darkgrey;
        }

    }

    .product-tabs {
        margin-top: 60px;

        .nav-tabs {
            border-bottom: 2px solid $red;
            li {
                a {
                    background-color: $lightgrey;
                    color:$grey;
                    text-transform: uppercase;
                    margin-right: 5px;
                    padding: 15px 25px;
                    font-family: $mont-bold;
                    font-size: 14px;
                    border-radius: 0;
                    border:0;
                    border-bottom: 1px solid $red;
                }

                .active {
                    background-color: $red;
                    color:$white;
                    border-color: $red;
                }
            }
        }

        .tab-content {
            padding: 40px 0;
            
        }
    }

    form {
        .form-control {
            border-radius: 0;
            padding: 12px;
            border: 1px solid $grey;
     
            font-family: $mont-bold;
            font-size: 12px;
            color:$grey;

            &::placeholder{
                text-transform: uppercase;
                font-family: $mont-bold;
                font-size: 12px;
                color:$grey;
            }
        }
    }

    .related-products {
        display: flex;
        flex-direction: row;
        margin: -15px;
        padding-top: 90px;

        @media (max-width:$break-medium){
            display: block;
            padding-left: 20px;
            padding-right: 20px;
        }

        .related-products-list {
          
            margin: 15px;
            width: 25%;
            box-shadow: 0px 0px 5px 1px rgba(182,182,182,0.75);
            -webkit-box-shadow: 0px 0px 5px 1px rgba(182,182,182,0.75);
            -moz-box-shadow: 0px 0px 5px 1px rgba(182,182,182,0.75);

            @media (max-width:$break-medium){
                width: 100%;
                margin: 42px 0;
            }

            .thumbnail {
                padding: 40px;
                position: relative;

                .label-tag {
                    position: absolute;
                    top: -7px;
                    right: 0;
                    color:$white;
                    padding: 4px 11px;
                    

                    p {
                        font-family: $mont-bold;
                        font-size: 12px;
                        text-transform: uppercase;
                        margin-bottom: 0;
                        position: relative;
                    }
                }

                %label-tag {
                    width: 13px;
                    height: 26px;
                    content: '';
                    left: -24px;
                    bottom: -4px;
                    position: absolute;
                    @media (max-width:$break-medium){
                        left: -23px;
                    }
                }

                .sale {
                    background-color: $red;
                    p {
                        
                        &:before {
                            background-image: url('/images/sale-point.png');
                            @extend %label-tag;
                        }
                    }
                    
                }

                .new {
                    background-color: $green;
                    p {
                        
                        &:before {
                            background-image: url('/images/new-point.png');
                            @extend %label-tag;
                        }
                    }
                }

                .out-stock{
                    background-color: $grey2;
                    p {
                        
                        &:before {
                            background-image: url('/images/stock-point.png');
                            @extend %label-tag;
                        }
                    }
                }

                .out-of-stock {
                    opacity: 0.7;
                }
            }
            .description {
                border-top: 1px solid $lightgrey;
                border-bottom: 1px solid $lightgrey;
                padding: 20px 0;
                text-align: center;

                .name {
                    font-size: 14px;
                    font-family: $mont-bold;
                    color: $darkgrey;
                    text-transform: uppercase;
                    margin:0;
                }

                .price {
                    color: $red;
                    font-size: 24px;
                    margin: 0;

                    sub {
                        font-size: 14px;
                        color: $darkgrey;
                        bottom: 0;
                        text-decoration: line-through;
                    }
                }

                .out-of-stock {
                    color:$grey !important;
                }

            }

            .add-to-cart {
                margin:0;
                padding-top: 20px;
                padding-bottom: 10px;
                li {
                    margin:0px;
        
                    @media (max-width: $break-tablet) {
                        width:100%;
                        margin-bottom: 10px;
                        text-align: center;
                    }
                }

                @media (min-width: $break-medium) and (max-width: $break-tablet) {
                    padding: 20px;
                }

            }
        }

    }
    
    .clickable-icons {
        margin-bottom: 0;
        @media (max-width: $break-medium) {
            margin: 15px 0;
            text-align: center;
        }
        li {
            width: 40px;
            height: 40px;
            border:1px solid $grey;
            border-radius: 50%;
            transition: 0.3s;
            position: relative;
            a {
                display:block;
                text-align: center;
                color: $grey;
                padding:7px;
                transition: 0.3s;
                i {
                    font-size: 14px;
                    
                }

                &:hover {
                    color: $darkgrey;
                }

                .badge {
                    width: 17px;
                    height: 17px;
                    background-color:$red;
                    color: $white;
                    font-family: $open-sans;
                    font-size: 11px;
                    position: absolute;
                    top: -5px;
                    right: -4px;
                    border-radius: 50%;
                    text-align: center;
                    padding: 2px;
                }
            }

            
            &:hover {
                background-color: $grey;
               
                
            }
        }
    }

    footer {
        
        .main-footer {
            padding: 60px 0;
            background-color: $black;
            position: relative;
            color:$grey;
            font-family: $open-sans;
            %divider {
                height: 17px;
                width: 100%;
                background-repeat:repeat-x;
                position:absolute;
            }

            .border-top-img {
                background-image:url('/images/divider-black.png');
                @extend %divider;
                top: -16px;
            }

            .border-bottom-img {
                background-image:url('/images/divider-white.png');
                @extend %divider;
                bottom: -6px;
            }

            .logo {
                margin-bottom: 20px;

                @media (max-width:$break-medium) {
                    display: block;
                    text-align: center;
                }
            }

            .social-media {
                margin-top: 25px;
            }

            h6 {
                font-size: 14px;
                color: $white;
                margin-bottom: 25px;

                @media (max-width: $break-medium) {
                    margin-top: 50px;
                }

            }

            dl {
                margin-bottom: 0;

                dd {
                    margin-bottom: 0;

                    p {
                        margin-bottom: 15px;
                    }

                  
                }
            }

            .links {
                %red {
                    color:$red !important;
                }

                a {
                    @extend %red;
                }
                i {
                    @extend %red;
                }
                
            }

            .quick-links {
                li {
                    border-top: 1px solid $lightgrey;
                    
                    padding:20px 0;
                    a {
                        display:block;
                        font-size: 12px;
                        color: $grey;
                        font-family: $mont-bold;
                        text-transform: uppercase;
                    }
                    &:last-child {
                        border-bottom: 1px solid $lightgrey;
                    }
                }
            }

            form {
                input {
                    background-color: $black;
                }
            }
           

            @media (max-width:$break-medium) {
                
                text-align: center;
            }
        }

        .sub-footer {
            background-color: $white;
            padding: 30px 0;

            .copyrights {
                font-size: 14px;
                p {
                    margin-bottom: 0;
                }
                
                @media (max-width: $break-medium) {
                    text-align: center;
                }
            }
            .policy {

                ul {
                    margin-bottom: 0;
                    li {
                        a {
                            font-size: 14px;
                            color:$red;
                        }
                    }
                }

                @media (max-width: $break-medium) {
                    margin-right: auto !important;
                }

            }
        }
    }

